# EditorConfig for keyflow
# https://editorconfig.org

root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# C++ files
[*.{cpp,h,hpp}]
indent_style = space
indent_size = 4
max_line_length = 100

# CMake
[CMakeLists.txt,*.cmake]
indent_style = space
indent_size = 4

# JSON
[*.json]
indent_style = space
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false
max_line_length = off
